<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form.css">
    
</head>
<body>
    <div class="navbar">
        <div class="heading">
        <h2>Reserve</h2>
         </div>
        <div class="links">
            <ul>
            <li><a href="/reservation/data">Appointments</a></li>
            <li><a href="/reservation/add">Add</a></li>
            <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>